html,body {
    margin: 0;
    padding: 0;
    width: 640px;
    height: 1030px;
}

.slide-box {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/*去掉滚动条*/
.slide-box ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.bg {
    position: absolute;
    width: 1290px;
    height: auto;
    width: auto;
}

#click1 {
    position: absolute;
    left: -8px;
    top: 173px;
    width: 498px;
    height: 340px;
    z-index: 2;

}

#click2 {
    position: absolute;
    left: 485px;
    top: 240px;
    width: 626px;
    height: 382px;
    z-index: 2;
}

#click3 {
    position: absolute;
    left: 60px;
    top: 423px;
    width: 471px;
    height: 360px;
    z-index: 2;
}

#click4 {
    position: absolute;
    left: 358px;
    top: 1px;
    width: 485px;
    height: 329px;
    z-index: 2;
}

#introduction1 {
    position: absolute;
    left: 10px;
    top: 140px;
    z-index: 5;
    display: none;
}

#introduction2 {
    position: absolute;
    left: 800px;
    top: 400px;
    z-index: 5;
    display: none;
}

#introduction3 {
    position: absolute;
    left: 300px;
    top: 450px;
    z-index: 5;
    display: none;
}

#introduction4 {
    position: absolute;
    left: 440px;
    top: 60px;
    z-index: 5;
    display: none;
}

#btn1 {
    position: absolute;
    left: 232px;
    top: 273px;
    z-index: 6;
    width: 60px;
    height: 28px;
    display: none;
}

#btn2 {
    position: absolute;
    left: 1074px;
    top: 582px;
    z-index: 6;
    width: 60px;
    height: 28px;
    display: none;
}

#btn3 {
    position: absolute;
    left: 516px;
    top: 586px;
    z-index: 6;
    width: 60px;
    height: 28px;
    display: none;
}

#btn4 {
    position: absolute;
    left: 720px;
    top: 257px;
    z-index: 6;
    width: 60px;
    height: 28px;
    display: none;
}

#cloud1{
    width: 180px;
    height: 80px;
    z-index: 6;
}
#flower{
    transition:all 0.5s ease
}
#control{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 20px;
    z-index: 99;
}